.wavy-line {
    display: inline-block;
    position: relative;
    background: url("./images/wavy-line.gif") bottom repeat-x;
}

.error-line-glyph {
    background: red;
}

.debugger-line-highlight {
    background: rgb(255, 255, 148);
}

/****Below code is override existing style****/
.monaco-list > .monaco-scrollable-element {
    background: rgb(224,237,243) url("./images/setupBanner.png") left bottom no-repeat;
    
    /* this will show the background image created by Nancy
    background: rgb(224,237,243) url("./images/bg.png") -240px 0px repeat-y;
    */

}

.monaco-editor .suggest-widget > .tree,
.monaco-editor .suggest-widget > .tree .monaco-list,
.monaco-editor .suggest-widget > .tree .monaco-list .monaco-list-rows,
.monaco-list > .monaco-scrollable-element {
    border-radius: 8px;
}

.monaco-editor .suggest-widget > .tree,
.monaco-editor .suggest-widget > .tree .monaco-list .monaco-list-rows {
    height: 170px !important;
}

.monaco-list.list_id_1 .monaco-list-row:hover, 
.monaco-list.list_id_1 .monaco-list-row:focus,
.monaco-list.list_id_1 .monaco-list-row.focused {
    background-color: unset !important;
}

.monaco-editor .suggest-widget > .tree .monaco-list .monaco-list-rows {
    top: unset !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row {
    position: initial;
}

.monaco-list.list_id_1 .monaco-list-row .monaco-highlighted-label{
    font-size: 16px;
}

.monaco-list.list_id_1 .monaco-list-row.focused .monaco-highlighted-label{
    font-weight: bolder;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row.focused > .contents > .main > .type-label {
    width: 248px;
    height: 150px;
    margin-left: 150px;
    font-size: .8em;
    line-height: 1.3em;
    border-radius: 8px;
    flex: unset;
    text-align: left;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    text-overflow: initial;
    white-space: normal;
    top: 5px;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row.focused > .contents > .main > .readMore {
    display: none;
}

.monaco-editor .suggest-widget.docs-below .details {
    border-top-width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    min-height: 158px;
    display: block;
}

.monaco-scrollable-element > .scrollbar,
.monaco-scrollable-element > .vertical,
.monaco-scrollable-element > .invisible {
    height: 144px !important;
}

.vs .monaco-scrollable-element > .scrollbar > .slider {
    display: none;
}