.toolbar .toolbar-button {
    height: 70px;
    width: 70px;
    min-width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50px;
    position: relative;
    cursor: pointer;
}

.toolbar .toolbar-button.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

.toolbar .toolbar-divider {
    width: 1px;
    min-width: 1px;
    background: #bcbcbc;
}

.toolbar .toolbar-label {
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.toolbar .new-button {
    background-image: url('../images/toolbar/new.png');
}

.toolbar .publish-button {
    background-image: url('../images/toolbar/publish.png');
}

.toolbar .cut-button {
    background-image: url('../images/toolbar/cut.png');
}

.toolbar .copy-button {
    background-image: url('../images/toolbar/copy.png');
}

.toolbar .paste-button {
    background-image: url('../images/toolbar/paste.png');
}

.toolbar .undo-button {
    background-image: url('../images/toolbar/undo.png');
}

.toolbar .redo-button {
    background-image: url('../images/toolbar/redo.png');
}

.toolbar .run-button {
    background-image: url('../images/toolbar/play.png');
}