<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>SuperBasic</title>

    <% htmlWebpackPlugin.options.scripts.forEach(function(script) { %>
        <script type="text/javascript" src="<%= script %>"></script>
        <% }); %>
</head>

<body>
    <div id="react-app" />
</body>

</html>