.documentation {
    overflow-y: scroll;
}

.documentation ul {
    list-style-type: none;
}

.documentation .library-class {
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.documentation .library-class-name:hover {
    color: #74c1df;
}

.documentation .library-members {
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}

.documentation .library-member-name:hover {
    color: #74c1df;
}

.documentation .description {
    font-weight: normal;
}