body {
    background-color: #74c1df;
    font-family: Consolas, monospace, Hack;
}

.body-box {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    background-color: #fafafc;
    padding: 10px;
}

.toolbar {
    height: auto;
    margin-bottom: 20px;
    min-width: 200px;
    display: flex;
}

.toolbar-buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.toolbar-logo {
    float: right;
    cursor: pointer;
    min-width: 224px;
    min-height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../../content/applogo.png');
}

.full-container {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 600px;
}

.master-container {
    display: flex;
    flex-flow: column;
    position: relative;
    float: left;
    width: calc(60% - 30px);
    height: 600px;
}

.sidebar-container {
    display: flex;
    flex-flow: column;
    position: relative;
    float: right;
    width: calc(40% - 30px);
    height: 600px;
}

.sidebar-component {
    flex: 1;
    padding: 10px;
}

.sidebar-component-icon {
    height: 50px;
    width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50px;
    position: relative;
    float: left;
}

.sidebar-component-label {
    font-size: xx-large;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10px;
}

.container-column {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container-half-column {
    width: 50%;
}