// Ordering here is important:

// Bootstrap CoreUI overrides then the actual library
@import "~@coreui/react/React_Full_Project/scss/_bootstrap-variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

// Then font-awesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Then simple-line-icons
$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons.scss";

// Then CoreUI
$navbar-brand-logo: url("../images/logo.png");
$navbar-brand-logo-size: 100px auto;
$navbar-brand-minimized-logo: $navbar-brand-logo; // It should be a smaller image, but it is not used in the current UI anyways
@import "~@coreui/react/React_Full_Project/scss/core/core.scss";

// Custom styles

.main-page-container {
    padding-top: 1.5em;
}

.text-output {
    color: #ffffff;
    background-color: black;
    color: white;
    font-family: "Consolas", "Monaco", monospace;
    overflow-y: auto;
    word-break: break-all;
    font-size: 18px;
    flex: 1;
    padding: 1em;
}

.text-output-big {
    height: 600px;
}

.text-output-small {
    height: 200px;
}

.debug-button {
    margin-bottom: 10px;
}
